
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/frontoffice/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connection</title>
</head>
<body>

    <main layout:fragment="content">
        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                        <i class="bi bi-currency-bitcoin fs-2"></i>
                        <span class="d-none d-lg-block">CryptoAPP</span>
                    </a>
                  </div><!-- End Logo -->
    
                  <div class="card mb-3">
                    <div class="card-body text-center">
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Accédez à votre compte</h5>
                        <p class="text-center small">Choisissez votre mode de connexion</p>
                      </div>
                  
                      <div class="d-grid gap-3">
                        <a th:href="@{/admin/connection}" class="btn btn-primary rounded-pill px-4 btn-user">Connexion Admin</a>
                        <a th:href="@{/connection}" class="btn btn-outline-primary rounded-pill px-4 btn-user">Connexion Utilisateur</a>
                      </div>
                    </div>
                  </div>
                  
                  <style>
                    .btn-user {
                      transition: opacity 0.3s ease-in-out;
                    }
                  
                    .btn-user:hover {
                        background-color: var(--bs-secondary);
                      border-color: var(--bs-secondary);
                      color: white;                }
                  </style>
                       
    
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main><!-- End #main -->
    
</body>

</html>