<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/backoffice/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>

<body>
<main id="main" class="main" layout:fragment="content">
  <div class="pagetitle">
    <h1>Section commission</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a th:href="@{/crypto/accueil}"> Accueil </a> </li>
        <li class="breadcrumb-item"> <a href="#"> Commission </a> </li>
        <li class="breadcrumb-item">Analyse</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                
                <h5 class="card-title">Analyse sur les commissions</h5>
    
                  <form class="row g-3" action="/crypto/commission/analyser" method="post">
                    
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="form-floating mb-3">
                          <select name="idTypeAnalyse" class="form-select" id="floatingSelect" aria-label="Type analyse">
                              <option value="">Choisissez le type d'analyse à faire</option>
                              <option th:each="type : ${typesAnalyse}" th:value="${type.id}" th:text="${type.libelle}"></option>
                          </select>
                          <label for="floatingSelect">Type analyse</label>
                      </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select name="idCrypto" class="form-select" id="floatingSelect" aria-label="Cryptomonnaie">
                                <option value="">Choisissez une cryptomonnaie</option>
                                <option value="all">Tous</option>
                                <option th:each="crypto : ${cryptos}" th:value="${crypto.id}" th:text="${crypto.nom}"></option>
                            </select>
                            <label for="floatingSelect">Cryptomonnaie</label>
                        </div>
                    </div>              

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                          <input name="dateHeureMin" type="datetime-local" class="form-control" id="nom" placeholder="Nom">
                          <label for="floatingName">Date minimale</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                          <input name="dateHeureMax" type="datetime-local" class="form-control" id="nom" placeholder="Nom">
                          <label for="floatingName">Date maximum</label>
                        </div>
                    </div>


                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Faire l'analyse</button>
                    </div>
                  </form><!-- End floating Labels Form -->

                  <h5 class="card-title">Résultats</h5>
    
                  <!-- Table with stripped rows -->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">IdCrypto</th>
                        <th scope="col">Nom de la crypto</th>
                        <th scope="col">Commission obtenue</th>
                        <th scope="col">Date transaction</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.cryptomonnaie.id}"></td>
                        <td th:text="${transaction.cryptomonnaie.nom}"></td>
                        <td th:text="${transaction.d_commission} + ' $'"></td>
                        <td th:text="${#temporals.format(transaction.dateTransaction, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      </tr>
                    </tbody>
                    
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
        </div>
    </div>
  </section>

</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
