<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Confirmation d'inscription</title>
    </head>
<body>

    <h3>
        Confirmer votre inscription avec ACCESS-API :
    </h3>
    <p>
        <a href="{{ 'http://localhost:8000/api/utilisateur/' ~ id ~ '/confirmation' }}">
            Confirmer
        </a>
    </p>

</body>
</html>
